<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
      <div class="row py-md-5 text-center justify-content-center">
  
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
          <h1 class="display-2 fw-bold mb-4 text-light position-relative home-title">
            Écrivez vos pensées au fur et à mesure qu’elles vous viennent.
          </h1>
          <p class="fs-4 mb-4 text-light">
            Notes est une application de prise de notes gratuite simple à utiliser réalisée avec Node.Js, EJS et MongoDB.
          </p>
          <a href="/auth/google" class="btn btn-primary btn-lg">Essayez Notes, c'est GRATUIT !</a>
        </div>
  
      </div>
    </main>
  </div>